{% extends 'base.html' %}
{% load static %}

{% block head %}
{% endblock %}

{% block main %}
    <div class="cart-main">
        <div class="cart-user-info">
            <form action="{% url 'create_order' %}" method="post" class="create-order-form">
                {% csrf_token %}
                <button type="submit">Order</button>
            </form>
        </div>
        <div class="cart-list">
            <h2>Cart</h2>
            {% for ci in cart_items %}
                <div class="cart-item">
                    <div class="ci-left">
                        <div class="pizza-name">{{ ci.pizza.name }}</div>
                        <div class="pizza-size">{{ ci.size.name }}</div>
                    </div>
                    <div class="ci-right">
                        <button class="update-quantity" data-action="decrease" data-item-id="{{ ci.id }}">-</button>
                        <div class="item-quantity">{{ ci.quantity }}</div>
                        <button class="update-quantity" data-action="increase" data-item-id="{{ ci.id }}">+</button>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            document.querySelectorAll('.update-quantity').forEach(function(button) {
                button.addEventListener('click', function() {
                    var itemId = this.getAttribute('data-item-id');
                    var action = this.getAttribute('data-action');
                    
                    console.log(`Sending item_id: ${itemId}, action: ${action}`);  // Добавим вывод данных в консоль

                    fetch("{% url 'update_quantity' %}", {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'X-CSRFToken': '{{ csrf_token }}',
                        },
                        body: JSON.stringify({
                            'item_id': itemId,
                            'action': action
                        })
                    })
                    .then(response => response.json())
                    .then(data => {
                        if (data.quantity !== undefined) {
                            this.parentElement.parentElement.querySelector('.item-quantity').innerText = data.quantity; // Исправим здесь
                        } else if (data.error === 'item deleted') {
                            this.parentElement.parentElement.remove(); // Удалим элемент из DOM, если он удален на сервере
                        }
                    })
                    .catch(error => {
                        console.error('Ошибка при выполнении fetch:', error);
                    });
                });
            });
        });
        </script>
{% endblock %}