{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/pizza-list.css' %}">
{% endblock %}

{% block main %}
    <div class="list-container">
        {% for ci in cart_items %}
            <div class="pizza-item">
                <div class="pizza-name">{{ ci.pizza.name }}</div>
                {% if ci.pizza.image %}
                    <img src="{{ ci.pizza.image.url }}" alt="{{ ci.pizza.name }}" class="pizza-image">
                {% else %}
                    <img src="{% static 'pizza/images/Default.png' %}" alt="" class="pizza-image">
                {% endif %}
                <div class="label">Size</div>
                <div class="size">{{ ci.size }}</div>
                <div class="label">Quantity</div>
                <div class="quantity">{{ ci.quantity }}</div>
            </div>
        {% endfor %}
    </div>
{% endblock %}