{% extends 'base.html' %}
{% load static %}

{% block head %}
    <!-- <link rel="stylesheet" href="{% static 'css/pizza-list.css' %}"> -->
{% endblock %}

{% block main %}
    <!-- <div class="list-container">
        {% for ci in cart_items %}
            <div class="pizza-item">
                <div class="pizza-name">{{ ci.pizza.name }}</div>
                {% if ci.pizza.image %}
                    <img src="{{ ci.pizza.image.url }}" alt="{{ ci.pizza.name }}" class="pizza-image">
                {% else %}
                    <img src="{% static 'images/Default.png' %}" alt="" class="pizza-image">
                {% endif %}
                <div class="label">Size</div>
                <div class="size">{{ ci.size }}</div>
                <div class="label">Quantity</div>
                <div class="quantity">{{ ci.quantity }}</div>
                <form method="post" class="add-to-cart-form">
                    {% csrf_token %}
                    <input type="hidden" name="ci_id" value="{{ ci.id }}">
                    <button type="submit" class="delete-from-cart-button">Удалить</button>
                </form>
            </div>
        {% endfor %}
    </div> -->
    <div class="cart-main">
        <div class="cart-user-info">
            <form action="{% url 'create_order' %}" method="post" class="create-order-form">
                {% csrf_token %}
                <button type="submit">Order</button>
            </form>
        </div>
        <div class="cart-list">
            <div class="cart-grid">
                {% for ci in cart_items %}
                    <!-- <div class="cart-item"> -->
                        <div class="pizza-name">{{ ci.pizza.name }}</div>
                        <div>{{ ci.size }}</div>
                        <div>{{ ci.quantity }}</div>
                        <div>
                            <form method="post" class="add-to-cart-form">
                                {% csrf_token %}
                                <input type="hidden" name="ci_id" value="{{ ci.id }}">
                                <button type="submit" class="delete-from-cart-button">Удалить</button>
                            </form>
                        </div>
                    <!-- </div> -->
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}