:root {
    --main-cl: #13a36c;
    --main-l-cl: #7fbea6;
    --shadow-cl: #b8b8b8;
    --danger-cl: #cf1717;
    --danger-l-cl: #e48181;
    --danger-ll-cl: #ffdddd;
    --bgc-cl: #fff;
    --text-cl: #333;
}

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--bgc-cl);
    font-family: Verdana;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: var(--text-cl);
}

header, footer {
    min-height: 70px;
    background-color: var(--bgc-cl);
    box-shadow: 0px 0px 5px 1px var(--shadow-cl);
}

header {
    display: flex;
    justify-content: right;
}

header .nav {
    display: flex;
    margin: auto 20px;
}

header .nav a {
    font-size: 20px;
    text-decoration: none;
    color: var(--main-cl);
    margin: 0 20px
}

main {
    flex: 1;
}

.signup-main {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.signup-main form {
    background: var(--bgc-cl);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 5px 1px var(--shadow-cl);
    width: 300px;
}

/* Стили для заголовка формы */
.signup-main h2 {
    text-align: center;
    margin-bottom: 20px;
    color: var(--text-cl);
}

.signup-main form div {
    margin-bottom: 15px;
}


.signup-main form div label {
    display: block;
    margin-bottom: 5px;
    color: #666;
}

.signup-main form div input[type="text"],
.signup-main form div input[type="email"],
.signup-main form div input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}


.signup-main form div input[type="text"]:focus,
.signup-main form div input[type="email"]:focus,
.signup-main form div input[type="password"]:focus {
    outline: 1px solid var(--main-cl);
    border: 1px solid var(--main-cl);
}

.signup-main form button[type="submit"] {
    width: 100%;
    padding: 10px;
    background: var(--main-cl);
    border: none;
    border-radius: 4px;
    color: var(--bgc-cl);
    font-size: 16px;
    cursor: pointer;
}

.signup-main form button[type="submit"]:hover {
    background: var(--main-cl);
}

.signup-main .error-summary {
    margin-top: 20px;
    background: var(--danger-ll-cl);
    color: var(--danger-cl);
    border: 1px solid var(--danger-cl);
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 15px;
}

.signup-main .error-summary ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.signup-main .error-summary li {
    margin: 0;
    padding: 0;
}


/*--------------------------------------------------*/


.home-main {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-main h1 {
    color: var(--text-cl);
}


/* ------------------------------------------------ */


.list-container {
    /* border: 2px solid tomato; */
    margin: 0 250px;
}

.cat-container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 40px;
}

.cat {
    font-size: 34px;
    margin-top: 60px;
    color: var(--main-cl)
}

.pizza-item {
    /* border: 1px solid salmon; */
    border-radius: 10px;
    padding: 20px;
    margin: 20px 0;
    background-color: var(--bgc-cl);
    text-align: center;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-width: 200px;
    /* transition: all 0.2s ease; */
}

.pizza-item:hover {
    box-shadow: 0px 0px 10px 0px var(--shadow-cl);
}

.pizza-item .pizza-info {
    /* border: 1px solid salmon; */
    width: 100%;
    text-align: start;
    margin-bottom: 15px;
}

.pizza-item .pizza-info h3 {
    font-size: 24px;
    margin-bottom: 6px;
}

.pizza-item .pizza-image {
    /* border: 1px solid salmon; */
    max-width: 80%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 15px;
}


.add-to-cart-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.add-to-cart-form .size-button-container {
    width: 100%;
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.size-button {
    flex: 1;
}

/* Скрыть стандартные радио кнопки */
.hidden-radio {
    display: none;
}

/* Стилизация кнопочного вида для радио кнопок */
.radio-button-label {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    outline: 1px solid #dadada;
    border-radius: 4px;
    cursor: pointer;
}

/* Стилизация выбранной радио кнопки */
.hidden-radio:checked + .radio-button-label {
    background-color: var(--main-cl);
    color: white;
    outline-color: var(--main-cl);
}

.add-to-cart-form label, .pizza-item .label {
    font-weight: bold;
    margin: 5px 0;
}

.add-to-cart-form select,
.add-to-cart-form input[type="number"],
.pizza-item .size,
.pizza-item .quantity {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #fff;
    margin-bottom: 10px;
    font-size: 16px;
    width: 100px;
}

.form-bottom {
    width: 100%;
    display: flex;
}

.form-bottom .price, .add-to-cart-button {
    flex: 1;
}

.form-bottom .price {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

.add-to-cart-button {
    background-color: var(--danger-l-cl);
    color: #fff;
    border: none;
    width: 100%;
    padding: 10px 0;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.add-to-cart-button:hover {
    background-color: var(--danger-cl);
}

.delete-from-cart-button {
    background-color: var(--danger-l-cl);
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.delete-from-cart-button:hover {
    background-color: var(--danger-cl);
}


/* ------------------------------------------------ */

.cart-main {
    height: 100%;
    display: flex;
}

.cart-user-info {
    flex: 1;
    display: flex;
}

.cart-list {
    margin: 20px 0;
    border-left: 1px solid var(--shadow-cl);
    width: 500px;
}

.cart-list h2 {
    text-align: center;
    color: #333;
    font-size: 26px;
}

.create-order-form {
    margin: auto;
}

.create-order-form button[type="submit"] {
    background-color: var(--main-l-cl);
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 24px;
    font-weight: bold;
}

.create-order-form button[type="submit"]:hover {
    background-color: var(--main-cl);
}

.cart-item {
    margin: 20px;
    display: flex;
    justify-content: space-between;
}

.ci-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.ci-left .pizza-name {
    font-size: 22px;
    font-weight: bold;
}

.ci-left .pizza-size {
    color: #888;
}

.ci-right {
    display: flex;
    align-items: center;
    font-size: 24px;
}

.ci-right .update-quantity {
    all: unset;
    cursor: pointer;
    margin: 0px 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--main-l-cl);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    transition: all ease 0.2s;
}

.ci-right .update-quantity:hover {
    background-color: var(--main-cl);
}


/* ------------------------------------------------ */

.orders-container {
    padding: 20px 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    font-size: 20px;
}
/* 
.order-container {
    display: flex;
    border-bottom: 1px solid #c0c0c0;
} */

.orders-container .main {
    padding: 20px 80px 20px 0;
    border-bottom: 1px solid #c0c0c0;
}

.orders-container .order-id {
    font-weight: bold;
}

.orders-container .oi-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.orders-container .order-price {
    display: flex;
    align-items: end;
}


/* ------------------------------------------------ */