{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block head %}
    {% endblock %}
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <div class="nav">
            <div><a href="{% url 'home' %}">Home</a></div>
            <div><a href="{% url 'signup' %}">Signup</a></div>
        </div>
    </header>
    <main>
        {% block main %}
        {% endblock %}
    </main>
    <footer>

    </footer>
</body>
</html>