{% extends 'base.html' %}
{% load static %}

{% block head %}
     <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{% endblock %}

{% block main %}
    <div id="response-message"></div>
    <div class="list-container">
        {% for cat in cats %}
            <h2 class="cat">{{ cat }}</h2>
            <div class="cat-container">
                {% for pizza in cat.pizza_set.all %}
                <div class="pizza-item">
                    <div>
                        {% if pizza.image %}
                            <img src="{{ pizza.image.url }}" alt="{{ pizza.name }}" class="pizza-image">
                        {% else %}
                            <img src="{% static 'images/Default.png' %}" alt="" class="pizza-image">
                        {% endif %}
                        <div class="pizza-info">
                            <p>
                                <h3>{{ pizza.name }}</h3>
                                {% for ingredient in pizza.ingredients.all %}
                                    {{ ingredient }}{% if not forloop.last %}, {% endif %}
                                {% endfor %}
                            </p>
                        </div>
                    </div>
                    <form method="post" class="add-to-cart-form" data-prices='{
                        {% for price in prices %}
                            {% if price.category.id == cat.id %}
                                "{{ price.size.id }}": "{{ price.price }}"{% if not forloop.last %}, {% endif %}
                            {% endif %}
                        {% endfor %}
                    }'>
                        {% csrf_token %}

                        <div class="size-button-container">
                            {% for value, label in form.size.field.choices %}
                                <div class="size-button">
                                    <input type="radio" id="id_size_{{ forloop.counter }}_{{ forloop.parentloop.counter }}_{{ forloop.parentloop.parentloop.counter }}" name="size" value="{{ value }}" required class="hidden-radio" {% if forloop.last %}checked{% endif %}>
                                    <label for="id_size_{{ forloop.counter }}_{{ forloop.parentloop.counter }}_{{ forloop.parentloop.parentloop.counter }}" class="radio-button-label">{{ label }}</label>
                                </div>
                            {% endfor %}
                        </div>

                        <input type="hidden" name="pizza_id" value="{{ pizza.id }}">
                        <div class="form-bottom">
                            <div class="price">

                            </div>
                            <button type="submit" class="add-to-cart-button">Add to cart</button>
                        </div>
                    </form>
                </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>


    <!-- Боже мой я так этого ждал... -->

    <script>
       $(document).ready(function() {
           $('.add-to-cart-form').on('submit', function(event) {
               event.preventDefault(); // Предотвращаем стандартное поведение формы

               $.ajax({
                   url: "{% url 'pizza_list' %}",
                   type: "POST",
                   data: $(this).serialize(),
                   success: function(response) {
                       if (response.status === 'success') {
                           $('#response-message').html('<p style="color: green;">' + response.message + '</p>');
                       } else {
                           $('#response-message').html('<p style="color: red;">' + response.message + '</p>');
                       }
                   },
                   error: function(xhr, errmsg, err) {
                       $('#response-message').html('<p style="color: red;">Ошибка при добавлении в корзину. Попробуйте еще раз.</p>');
                   }
               });
           });
       });
       document.addEventListener('DOMContentLoaded', function() {
            // Найти все формы добавления в корзину
            const forms = document.querySelectorAll('.add-to-cart-form');

            forms.forEach(form => {
                // Найти все радио-кнопки размеров внутри формы
                const sizeRadios = form.querySelectorAll('input[name="size"]');
                const priceElement = form.querySelector('.price');
                const prices = JSON.parse(form.getAttribute('data-prices'));

                // Функция для обновления цены
                const updatePrice = () => {
                    const selectedSize = form.querySelector('input[name="size"]:checked').value;
                    const price = prices[selectedSize];
                    priceElement.textContent = price + '$';
                };

                // Добавить обработчики событий изменения на все радио-кнопки
                sizeRadios.forEach(radio => {
                    radio.addEventListener('change', updatePrice);
                });

                // Установить начальную цену
                updatePrice();
            });
        });
   </script>
{% endblock %}