{% extends 'base.html' %}
{% load static %}

{% block head %}
    <!-- <link rel="stylesheet" href="{% static 'css/pizza-list.css' %}"> -->
{% endblock %}

{% block main %}
    <div class="list-container">
        {% for pizza in pizzas %}
        <div class="pizza-item">
            <div class="pizza-name">{{ pizza.name }}</div>
            {% if pizza.image %}
                <img src="{{ pizza.image.url }}" alt="{{ pizza.name }}" class="pizza-image">
            {% else %}
                <img src="{% static 'images/Default.png' %}" alt="" class="pizza-image">
            {% endif %}
            <form method="post" class="add-to-cart-form">
                {% csrf_token %}
                {% for radio in form.size %}
                    <input type="radio" id="{{ radio.id_for_label }}_{{ forloop.parentloop.counter }}" name="size_{{ forloop.parentloop.counter }}" value="{{ radio.choice_value }}">
                    <label for="{{ radio.id_for_label }}_{{ forloop.parentloop.counter }}">{{ radio.choice_label }}</label>
                {% endfor %}
                {{ form.quantity.label_tag }} {{ form.quantity }}
                <input type="hidden" name="pizza_id" value="{{ pizza.id }}">
                <button type="submit" class="add-to-cart-button">Добавить в корзину</button>
            </form>
        </div>
        {% endfor %}
    </div>
{% endblock %}